DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,10.35.226.229
DJANGO_TIME_ZONE=Asia/Kolkata

POSTGRES_DB=crop_scheduler
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Malviya@123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:8081,http://127.0.0.1:8081,http://localhost:19006,http://127.0.0.1:19006,http://10.0.2.2:8081,http://10.0.2.2:19006,http://10.35.226.229:19006

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
